---
layout: content
---

<h4 class="home-header">Featured Apps</h4>

{% assign app_list = site.tags['featured'] %} 
{% assign limit = 3 %} 
{% include app_list.html %}  

<a class="btn more-button" href="{{ site.baseurl }}/tags/featured">
   More <i class="fa fa-angle-double-right"></i>
</a>

<h4 class="home-header">Recently Added</h4> 

{% assign app_list = site.posts %}  
{% assign limit = 5 %} 
{% include app_list.html %}   
 
<a class="btn more-button" href="{{ site.baseurl }}/tags/recent">
   More <i class="fa fa-angle-double-right"></i>
</a>



