<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta charset="utf-8">
  <title>{{ site.name }}{% if page.title %}: {{ page.title }}{% endif %}</title>
   
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml"/>

  <link href="{{ site.baseurl }}/external/bootstrap/themes/cerulean/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
  
  <link href="{{ site.baseurl }}/external/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <style type="text/css">
    body {
      padding-top: 50px;
    }
  </style>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ site.baseurl }}/external/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon"> 

  <script type="text/javascript" src="{{ site.baseurl }}/external/jquery/jquery-1.10.2.min.js"></script>
      
  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-20375833-8', 'shinygallery.com');
    ga('send', 'pageview');
  </script>    
      
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ site.baseurl }}/">Shiny Gallery</a>
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/tags" class="dropdown-toggle" data-toggle="dropdown">
            Browse
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu fa-ul">
            <li><a href="{{ site.baseurl }}/tags/getting-started.html">Getting Started</a></li>
            <li><a href="{{ site.baseurl }}/tags/reactivity.html">Reactivity</a></li>
            <li><a href="{{ site.baseurl }}/tags/application-layout.html">Application Layout</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/about.html" title="About the {{ site.name }}">About</a></li>
      </ul>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
      {% if page.source_url %}
      <div class="dropdown pull-right">
        <a id="app-share" title="Share this" 
           class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
          <i class="fa fa-share"></i>
        </a>
        <div class="dropdown-menu">
        <div class="popover-title">Share this</div>
        <div id="app-share-widgets" class="popover-content">
        {% include share_app.html %}
        </div>
        </div>
      </div>
      <a id="app-get-code" class = "btn btn-primary pull-right" href="{{ page.source_url}}"><i class="fa fa-github"></i>&nbsp;Get the Code</a>>
      {% else  %}
      <ul class="nav pull-right">
        <li><a href="{{ site.baseurl }}/feed.xml" title="RSS Feed"><i class="fa fa-rss fa-lg"></i></a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>


  {{ content }}

  <script src="{{ site.baseurl }}/external/bootstrap/js/bootstrap.min.js"></script>

  <script>
    
    $(function() {
      // manage navbar active state
      var loc = this.location.pathname;
      loc = "/" + loc.split('/')[1];
      $('a[href="' + loc + '"]').parent().addClass('active'); 
    });
    
  </script>
</body>  
</html>


