<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta charset="utf-8">
  <title>{{ site.name }}{% if page.title %}: {{ page.title }}{% endif %}</title>
   
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml"/>

  <link href="{{ site.baseurl }}/external/bootstrap/themes/cerulean/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
  
  <link href="{{ site.baseurl }}/external/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <style type="text/css">
    body {
      padding-top: 50px;
    }
  </style>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ site.baseurl }}/external/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon"> 

  <script type="text/javascript" src="{{ site.baseurl }}/external/jquery/jquery-1.10.2.min.js"></script>
      
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ site.baseurl }}/">Shiny Gallery</a>
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Browse
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu fa-ul">
            <li><a href="{{ site.baseurl }}/tags/getting-started.html">Getting Started</a></li>
            <li><a href="{{ site.baseurl }}/tags/reactivity.html">Reactivity</a></li>
            <li><a href="{{ site.baseurl }}/tags/application-layout.html">Application Layout</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
      
      {% if page.source_url %}
      <a class="btn btn-primary pull-right" href="{{ page.source_url}}"><i class="fa fa-github"></i>&nbsp;Get the Code</a>
      {% endif %}
    </div>
  </div>
</div>


  {{ content }}

  <script src="{{ site.baseurl }}/external/bootstrap/js/bootstrap.min.js"></script>

</body>  
</html>


